.input-count-cards {
  width: 100px;
  padding: 0 5px;
}

.count-block {
  margin-bottom: 15px;
}

.count-block .ui-button-success {
  width: 100%;
}

.drive-button button {
  width: 100%;
  margin-bottom: 10px;
}