<button pButton type="button" (click)="showSideBar()" icon="fa-arrow-right"></button>
<app-menu-card 
  [pullStatusSideBar]="sideBar" 
  [pullButtons]="buttons" 
  [pullInputText]="inputText"
  [pullCardsArray]="cardsArray"
  [pullSpliceArray]="spliceArray"
  (pushStatusBar)="hideSideBar($event)" 
  (pushChangeOneCard)="changeOneCard($event)" 
  (pushChangeInputValue)="changeInputValue($event)"
  (pushShowItemsCount)="showItemsCount($event)"
  (pushCheckInputCount)="checkInputCount($event)">
</app-menu-card>
<app-show-cards [pullArray]="spliceArray"></app-show-cards>